<div class="container items-center mx-auto">
  <div class="mx-auto mb-2 text-center lg:w-2/6 md:w-1/2">
    <h1 class="text-2xl">404 item not found</h1>
    <hr>
    <p class="text-lg">Do you want to add one?</p>
  </div>
</div>

{% include 'theme/simple/items/new' %}
