<div class="row">
  <div class="u-full-width">
    <h2>edit item form</h2>
  </div>
</div>

<div class="row">
  <div class="u-full-width">
    {% include 'theme/simple/items/form', item: item %}
  </div>
</div>
