{% liquid
  if item.id
    assign path = 'update'
  else
    assign path = 'create'
  endif
%}

{{ item.errors }}

<div class="row">
  <form action="/items/{% print path %}" method="post">
    {% include 'authenticity_token' %}

    {% if item.id %}
      <input type="hidden" name="item[id]" value="{% print item.id %}"/>
    {% endif %}

    <div class="u-full-width">
      <label for="name">name</label>
      <input class="u-full-width" type="text" placeholder="name" name="item[properties][name]" value="{% echo item.properties.name %}"/>
      {% if item.errors.properties.name %}
        <span class="danger">{% echo item.errors.properties.name %}</span>
      {% endif %}
    </div>

    <div class="u-full-width">
      <label for="type">type</label>
      <input class="u-full-width" type="text" placeholder="type" name="item[properties][type]" value="{% echo item.properties.type %}"/>
      {% if item.errors.properties.type %}
        <span class="danger">{% echo item.errors.properties.type %}</span>
      {% endif %}
    </div>

    <div class="u-full-width">
      <label for="description">description</label>
      <textarea class="u-full-width" type="text" placeholder="description" name="item[properties][description]" rows="20">{% echo item.properties.description %}</textarea>

      {% if item.errors.properties.description %}
        <span class="danger">{% echo item.errors.properties.description %}</span>
      {% endif %}
    </div>

    <div class="u-full-width">
      <label for="tags">tags</label>
      <input class="u-full-width" type="text" placeholder="tags" name="item[properties][tags]" value="{{ item.properties.tags | join: ',' }}"/>
      {% if item.errors.properties.tags %}
        <span class="danger">{% echo item.errors.properties.tags %}</span>
      {% endif %}
    </div>

    <div class="u-full-width">
      <label for="price">price</label>
      <input class="u-full-width" type="number" placeholder="price" name="item[properties][price]" value="{{ item.properties.price | default: 10 }}"/>
      {% if item.errors.properties.price %}
        <span class="danger">{% echo item.errors.properties.price %}</span>
      {% endif %}
    </div>

    <div class="u-full-width">
      <label for="cover_photo">cover_photo</label>
      <select class="u-full-width" name="item[properties][cover_photo]">
      {% for icon in context.exports.lib.icons %}
        <option value="{% print icon %}" {% if item.properties.cover_photo == icon %}selected{% endif %}>{% print icon %}</option>
      {% endfor %}
      </select>

      {% if item.errors.properties.cover_photo %}
        <span class="danger">{% echo item.errors.properties.cover_photo %}</span>
      {% endif %}
    </div>

    <div class="u-full-width">
      <input class="u-full-width" type="submit" value="{% print path %}"/>
    </div>
  </form>
</div>
