<div class="container mx-auto">
  <form action="/search" name="search">
    {% render 'theme/simple/home/search_form', query: search.query, filters: filters %}

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 md:gap-5">
      {% for item in items.results %}
        {% render 'theme/simple/items/card', item: item, current_profile: current_profile %}
      {% else %}
        <p class="text-lg">{{ 'app.no_items_found' | t }}</p>
      {% endfor %}
    </div>
  </form>
</div>
