<style>
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .card {
    display: flex;
    width: 33%;
    padding: 0 1.5em;
    flex-direction: column;
    align-items: center;
    border: solid 1px #eee;
  }

  @media only screen and (max-width: 600px) {
    .card {
      width: 100%;
    }
  }
</style>

<div class="cards">
  {% for item in items.results %}
    {% include 'theme/simple/items/card', item: item %}
  {% endfor %}
</div>
