<div class="container mx-auto">
  <div class="flex flex-wrap -mx-4 cards">
    {% if items.results.size > 0 %}
    {% for item in items.results %}
      {% include 'theme/simple/items/card', item: item %}
    {% endfor %}
    {% else %}
    <p class="container my-8 text-lg">{{ 'app.no_items_found' | t }}</p>
    {% endif %}
  </div>
</div>
