<style>
  ul { margin-top: 10px }
  ul.tags li {
    display:inline;
  }

</style>
<div class="row">
  <div class="four columns">
    <img alt="cover" src="{% echo 'images/icons/' | append: item.properties.cover_photo | append: '.svg' | asset_url %}" width="100%"/>
  </div>

  <div class="eight columns">
    <h2>{% print item.properties.name %}</h2>
    <div>{% print item.properties.description %}</div>

    <ul class="tags">
      <li><strong>tags: </strong></li>
      {% for tag in item.properties.tags %}
        <li>{% print tag %}</li>
      {% endfor %}
    </ul>

    {% include 'theme/simple/business_card', user: item.properties.owner %}


    {% if item.properties.owner == context.session.current_user_id %}
      <a href="/items/edit?id={% print item.id %}" class="button">edit</a>
      <form action="/items/delete" method="post">
        <input type="hidden" name="id" value="{% print item.id %}">
        <input type="submit" value="delete">
      </form>
    {% endif %}

    <form action="/orders/new" method="get">
      <input type="hidden" name="item_id" value="{% print item.id %}">
      <input type="submit" value="buy for $100" class="button-primary">
    </form>
  </div>
</div>
