<div id="drag-drop-area"></div> <!-- This is where Uppy will inject itself -->
<div>
  <small>
    <ol data-s3-uppy="log"></ol>
  </small>
</div>

<link href="https://transloadit.edgly.net/releases/uppy/v1.6.0/uppy.css" rel="stylesheet">
<script src="https://transloadit.edgly.net/releases/uppy/v1.6.0/uppy.js" defer></script>
<script src="{{ 'js/images.js' | asset_url }}" defer></script>
