<div class='flex-wrap items-center w-full my-10 text-2xl text-center'>
  <img alt="Page missing" src="{{ 'images/404.svg' | asset_url }}" class="w-1/2 mx-auto" />

  <p class="mt-5 text-lg">{{ 'app.page_not_found' | t }}</p>
</div>
