<div class='flex-wrap items-center w-full my-10 text-center'>
  <img alt="Page missing" src="{{ 'images/404.svg' | asset_url }}" class="w-1/2 mx-auto" />

  <h3 class="mt-5 title">{{ 'app.page_not_found' | t }}</h3>
</div>