<section class="px-4 py-12 text-center">
  <h2 class="mb-2 text-4xl leading-tight font-heading">{{ 'app.about-us.our-story' | t }}</h2>
  <p class="max-w-xl mx-auto mb-12 text-gray-500">{{ 'app.about-us.our-story-subtitle' | t }}</p>
  <p class="mb-10 text-left">
    {{ 'app.about-us.our-story-paragraph' | t }}
  </p>
  <p class="mb-10 text-left">
    {{ 'app.about-us.our-story-paragraph2' | t }}
  </p>
</section>
