{% assign name = user | default: 'missing-user-email' %}

<style>
  div.business_card { border: solid 1px #eee; padding: 5px 10px; margin: 10px 0 }
</style>

<div class="business_card">
  owner: {% print name %}
</div>
