{% assign name = user.name | default: 'Unknown' %}

<div class="flex">
  <span class="business_card mr-2">By <a href="{% render 'link_to', profile: user %}">{% print name %}</a></span>
  {% if current_user and current_user.id != user.id %}
    {% render 'theme/simple/follow_button', current_user: current_user, user: user %}
  {% endif %}
</div>
