<div class="flex items-center justify-around py-20">
  <h1 class="text-2xl font-medium">
    {{ 'app.models.<%= modelNamePlural %>.empty_state' | t }}
  </h1>

  <a href="/<%= modelNamePlural %>/new" class="text-lg button">
    {{ 'app.models.<%= modelNamePlural %>.add' | t }}
  </a>
</div>
