<div class="flex items-center justify-around py-20">
  <h1 class="text-2xl font-medium">
    {{ 'app.models.statuses.empty_state' | t }}
  </h1>

  <a href="/statuses/new" class="text-lg button">
    {{ 'app.models.statuses.add' | t }}
  </a>
</div>
