<div class="flex items-center justify-around py-20">
  <h2 class="bigtitle">
    {{ 'app.models.statuses.empty_state' | t }}
  </h2>

  <a href="/statuses/new" class="text-lg button">
    {{ 'app.models.statuses.add' | t }}
  </a>
</div>
