{% liquid
  if user != blank and user.id == current_profile.id
    include 'theme/simple/profile/activity_new', user: user
  endif
%}

<section class="my-5">
  {% for record in list.results %}
    {% render 'theme/simple/activities/feed_unit', payload: record.payload, current_profile: current_profile %}
  {% else %}
    <p class="text-lg">{{ 'app.no_activities_found' | t }}</p>
  {% endfor %}
</section>
