<section class="grid-basic">
  {% for record in list.results %}
    {% render 'theme/simple/groups/card', group: record, current_profile: current_profile %}
  {% else %}
    <p class="text-lg">{{ 'app.no_groups_found' | t }}</p>
  {% endfor %}
</section>
