<div class="flex flex-wrap w-full">
  <section class="text-gray-700 body-font">
    <div class="container flex flex-wrap">
      {% for record in list.results %}
        {% render 'theme/simple/groups/card', group: record %}
      {% else %}
        <p class="container my-8 text-lg">{{ 'app.no_groups_found' | t }}</p>
      {% endfor %}
    </div>
  </section>
</div>
