<div class="grid-basic">
  {% for item in list.results %}
    {% render 'theme/simple/items/card', item: item, current_profile: current_profile %}
  {% else %}
    <p class="text-lg">{{ 'app.no_items_found' | t }}</p>
  {% endfor %}
</div>
