<h2 class="text-2xl">
  {{ 'app.payments.account.show.account_information' | t }}
</h2>

{{ 'app.payments.account.new.to_start_selling' | t }}
<a href="{{ connect_url }}" target="_blank">
  {{ 'app.payments.account.new.connect_with_stripe' | t }}
</a>.
