<div class="p-4 mb-4 bg-gray-200 border rounded" data-test="information">
  <p>
    {{ 'app.payments.account.success.payout_account_added' | t }}
  </p>
</div>

<a class="button" href="/dashboard/payments/account">
  {{ 'app.continue' | t }}
</a>
