<div class="p-4 mb-4 bg-gray-200 border rounded" data-test="information">
  <p>
    Your payout accound has been added.
  </p>
</div>

<a class="button" href="/payments/account">
  {{ 'app.continue' | t }}
</a>
