<div class="border rounded bg-gs-soft-grey px-8 py-6 mb-4" data-test="information">
  <p class="text-gs-red w-100" role="alert">
  Thank you for adding payout account.
  </p>
</div>
<a class="btn btn-green" href="/payments/account">Back</a>
