<h2 class="mb-6 text-3xl font-medium">activities ({{ activities.total_entries }})</h2>
<table class="table-auto w-full">
  {% for activity in activities.results %}
    <tr>
      <td class="px-4 py-2 border-b">{% print activity.payload.date | to_time %}</td>
      <td class="px-4 py-2 border-b">{% print activity.payload.type  %}</td>
    </tr>
  {% endfor %}
</table>
