<h2 class="mb-6 text-2xl">{% echo 'app.categories.list' | t %}</h2>
<table class="table-auto w-full">
  {% for category in list %}
    <tr>
      <td class="px-4 py-2 border-b">{{ category }}</td>
      <td class="px-4 py-2 border-b">{% echo 'categories.' | append: category | t %}</td>
    </tr>
  {% endfor %}
</table>
