<div class="flex flex-wrap w-full">
  <div class="w-1/2">
    <h3>the most recent items</h3>
    {% include 'theme/simple/items/index', items: items %}
  </div>
  <div class="w-1/2">
    <h4>event logs</h4>
  </div>
</div>
