<div class="w-full">
  <h2 class="mb-3 text-lg font-medium text-gray-900 title-font">
    <a class="mr-2" href='/marketplace_setup'>Marketplace Setup</a>
    <a class="mr-2" href='/admin/users'>Users</a>
    <a class="mr-2" href='/admin/orders'>Orders</a>
    <a class="mr-2" href='/admin/items'>Items</a>
    <a class="mr-2" href='/admin/categories'>Categories</a>
    <a class="mr-2" href='/admin/activities'>Activities</a>
  </h2>
</div>
