<section class="py-8 px-4">
  <div class="flex flex-wrap -mx-4">
    {% for metric in metrics %}
      <div class="w-full lg:w-1/4 px-4 mb-4 lg:mb-0">
        <div class="h-full border rounded shadow">
          <div class="flex items-center justify-between py-3 px-4 border-b">
            <h3 class="text-lg font-heading">
              {% print 'admin.metric.'| append: metric.name | append: ".name" | t %}
            </h3>
            <span class="py-1 px-3 text-sm text-white font-semibold bg-green-500 rounded-full">
              {% print 'admin.metric.period.'| append: metric.period | t %}
            </span>
          </div>
          <div class="flex flex-col p-4">
            <h3 class="text-3xl mb-3 font-heading font-semibold">
              {% if metric.name == 'income' %}
                {% print metric.value | pricify_cents %}
              {% else %}
                {% print metric.value %}
              {% endif %}
            </h3>
            <span>
              {% print 'admin.metric.' | append: metric.name | append: '.delta' | t %}
            </span>
            <span class="text-green-500">
              {% if metric.name == 'income' %}
                {% print metric.delta | pricify_cents %}
              {% else %}
                {% print metric.delta %}
              {% endif %}
            </span>
          </div>
        </div>

      <span class="text-xs">
        {% print 'admin.metric.'| append: metric.name | append: ".description" | t %}
      </span>
      </div>
    {% endfor %}
  </div>
</section>

