<div class="flex w-full">
  <div class="w-3/4">
    <h3 class="mb-3 text-lg font-medium text-gray-900 title-font">Recent items</h3>
    <h2 class="mb-6 text-2xl">{% echo 'app.' | append: section | append: '.list' | t %} ({% print list.total_entries %})</h2>
    <table class="table-auto w-full">
      <thead>
        <tr>
          {% for field in list.results[0] %}
          <th class="px-4 py-2 border-b">{% print field[0] %}</th>
          {% endfor %}
        </tr>
      </thead>
      {% for record in list.results %}
        <tr>
          {% for field in record %}
            <td class="px-4 py-2 border-b">
                {% if field[1].id %}
                {% for nested in field[1] %}
                  <div>
                    {% echo nested[0] %}:{% echo nested[1] %}
                  </div>
                {% endfor %}
                {% else %}
                {% print field[1] %}
                {% endif %}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
  </div>
</div>
