<div class="w-full mx-auto">
  <div class="mb-5 text-right">
    <a href="/dashboard/posts/new" class="button">
      {{ 'app.models.posts.add' | t }}
    </a>
  </div>
  {% liquid
    if context.params.tag
      assign title = 'app.models.posts.questions-tagged-by' | t: tag: context.params.tag
      render 'theme/simple/ui/title', label: title
    endif

    for post in posts.results
      render 'theme/simple/posts/summary', post: post
    else
     include 'theme/simple/posts/empty_state'
    endfor
  %}
</div>
