{% if error %}
  <div class="w-full p-6 mb-4 text-red-800 border-2 border-red-200 rounded-lg">
    {{ error | t }}
  </div>
{% endif %}

{% if notice %}
  <div class="w-full p-6 text-gray-800 border-2 border-red-200 rounded-lg">
    {{ notice | t }}
  </div>
{% endif %}
