{% if error %}
  <div class="mb-4 p-4 w-full text-red-800 p-8 border-2 border-gray-200 rounded-lg">
    {{ error | t }}
  </div>
{% endif %}

{% if notice %}
  <div class="p-4 w-full text-gray-800 p-8 border-2 border-gray-200 rounded-lg">
    {{ notice | t }}
  </div>
{% endif %}
