{% if error %}
  <div class="w-full p-4 mb-4 text-red-800 border border-red-200 rounded shadow-sm">
    {{error}}
  </div>
{% endif %}

{% if notice %}
  <div class="w-full p-4 mb-4 text-green-800 border border-green-200 rounded shadow-sm">
    {{notice}}
  </div>
{% endif %}
