<footer class="text-gray-700 body-font">
  <div class="container flex flex-col items-center px-5 py-8 mx-auto sm:flex-row">
    <a class="flex items-center justify-center font-medium text-gray-900 title-font md:justify-start">
      <span class="ml-3 text-xl">MVP Marketplace</span>
    </a>
    <p class="mt-4 text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0">© 2020 platformOS —
      <a href="https://twitter.com/platformos" class="ml-1 text-gray-600" rel="noopener noreferrer" target="_blank">@platformos</a>
    </p>
  </div>
</footer>