<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="authenticity_token" name="csrf-param">
<meta content="{{ context.authenticity_token }}" name="csrf-token">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="description" content="MVP Marketplace - buy & sell">

<link rel="stylesheet" href="{{ 'css/app.css' | asset_url }}">

<link rel="shortcut icon" href="{{ 'images/favicon.ico' | asset_url }}" type="image/x-icon">

<title>{{ 'app.title' | t }}</title>
