<style>
  .menu * { display: inline-block; }
</style>
<div class="section hero">
  <div class="container">
    <div class="row">
      <a href="/"><h1>items-store-mvp<small style="font-size: 0.5em"> 0.0.2-alpine</small></h1></a>
    </div>
    <div class="row menu">
      <a href="/items/new" class="button button-primary">List your item</a>
      {% if context.session.current_user_id  %}
        <a href="/dashboard" class="button">dashboard</a>
        <form action="/sessions/destroy" method="post">
          {% include 'authenticity_token' %}
          <input name="" type="submit" value="log out {% print context.session.current_user_id %}"/>
        </form>
      {% else %}
        <a href="/sessions/new" class=button>login</a>
      {% endif %}
    </div>

    {{ content_for_layout }}

    {% include 'layout/scripts' %}
  </div>
</div>
