<div class="container flex flex-col min-h-screen">
  {% include 'theme/simple/layout/header' %}

  <main class="flex-1">
    {% include 'lib/flash/display' %}

    {{ content_for_layout }}
  </main>

  {% include 'theme/simple/layout/footer' %}
  {% include 'modules/monitoring/theme/feedback' %}

  {% include 'theme/simple/layout/scripts' %}
</div>
