<div class="container flex flex-col min-h-screen px-5">
  {% liquid
    include 'theme/simple/layout/header', profile: current_profile
  %}

  <main class="flex-1">
    {% include 'lib/flash/display' %}
    {% if context.location.pathname contains '/dashboard' %}
      <div class="flex flex-col md:flex-row">
        {% include 'theme/simple/dashboard/sidebar', profile: current_profile %}
        <div class="flex-1 md:ml-10">
          {{content_for_layout}}
        </div>
      </div>
    {% else %}
      {{content_for_layout}}
    {% endif %}
  </main>

  {% include 'theme/simple/layout/footer' %}
  {% include 'modules/monitoring/theme/feedback' %}
  {% include 'theme/simple/layout/scripts' %}
</div>
