<div class="container">
  {% include 'theme/simple/layout/header' %}

  <main>
    {{ content_for_layout }}
  </main>

  {% include 'theme/simple/layout/footer' %}

  {% include 'theme/simple/layout/scripts' %}
</div>
