<div class="container flex flex-wrap items-center mx-auto">
  <h2 class="bigtitle">{{ 'app.groups.edit' | t }} {{ object.name  }}</h2>
</div>

{% include 'theme/simple/dashboard/groups/form', object: object %}
