<div class="flex items-center justify-around py-20">
  <h1 class="bigtitle">
    {{ 'app.groups.empty_state' | t }}
  </h1>

  <a href="/dashboard/groups/new" class="text-lg button">
    {{ 'app.groups.add' | t }}
  </a>
</div>
