<section class="text-gray-700 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-2/3 flex flex-col sm:flex-row sm:items-center items-start mx-auto">
      <h1 class="flex-grow sm:pr-16 text-2xl font-medium title-font text-gray-900">
        You haven’t added any groups yet. Create your first one now!
      </h1>
      <a href="/dashboard/groups/new" class="button">
        Add group
      </a>
    </div>
  </div>
</section>
