{% assign type = payload.type %}

<div class="mx-auto px-4 py-4 bg-white shadow-md rounded-lg w-full">

  {{ payload.actor.id  }}
  {% render 'theme/simple/activities/feed_unit/header', name: payload.actor.username, photo: payload.actor.photo.versions.tiny, date: payload.date %}

  <div class="py-2">
    <p class="leading-snug">
      {% if type contains 'follow' %}
        {% render 'theme/simple/activities/feed_unit/type/user_activity', payload: payload %}
      {% elsif type contains 'visit' %}
        {% render 'theme/simple/activities/feed_unit/type/visit', payload: payload %}
      {% elsif type contains 'account' %}
        {% render 'theme/simple/activities/feed_unit/type/user_activity', payload: payload %}
      {% elsif type contains 'order_status' %}
        {% render 'theme/simple/activities/feed_unit/type/order_status', payload: payload %}
      {% elsif type contains 'order' %}
        {% render 'theme/simple/activities/feed_unit/type/order_created', payload: payload %}
      {% elsif type contains 'item_created' %}
        {% render 'theme/simple/activities/feed_unit/type/item_created', payload: payload %}
        <div class="text-xs"> {{ payload.object.description }} </div>
      {% endif %}
    </p>
  </div>

  {% if payload.object.photos.size > 0 %}
    <div class="mt-2">
      <img class="object-cover w-9 m-auto rounded-lg" src="{% print payload.object.photos.first.url.versions.small %}" alt="{{payload.object.name}}">
    </div>
  {% elsif payload.target.photos.size > 0 %}
    <div class="mt-2">
      <img class="object-cover w-9 m-auto rounded-lg" src="{% print payload.target.photos.first.url.versions.small %}" alt="{{payload.target.name}}">
    </div>
  {% endif %}

  <div class="text-xs bg-gray-100">{% print payload.type %}</div>
</div>
