{% assign type = payload.type %}


<div class="flex flex-col p-6 bg-white rounded-lg shadow">
  {% render 'theme/simple/activities/feed_unit/header', payload: payload %}

  <div class="py-2 leading-snug break-all">
    <p>{{ payload.object.description }}</p>
    <p>{% print payload.object.body %}</p>
  </div>

  <!-- Photo should be inserted only if event = create -->
  {% if payload.object.photos.size > 0 %}
    <div class="mt-2">
      <img class="object-cover rounded-lg w-9" src="{{ payload.object.photos.first.url.versions.small }}" alt="{% print payload.object.name %}">
    </div>
  {% elsif payload.target.photos.size > 0 %}
    <div class="mt-2">
      <img class="object-cover rounded-lg w-9" src="{{ payload.target.photos.first.url.versions.small }}" alt="{% print payload.target.name %}">
    </div>
  {% endif %}
</div>
