{% assign type = payload.type %}

<div class="w-full p-6 mb-6 bg-white rounded-lg shadow-md">
  {% render 'theme/simple/activities/feed_unit/header', payload: payload %}

  <div class="py-2">
    <p class="leading-snug">
      <p class="">{{ payload.object.description }}</p>
      {% print payload.object.body %}
    </p>
  </div>

  {% if payload.object.photos.size > 0 %}
    <div class="mt-2">
      <img class="object-cover rounded-lg w-9" src="{{ payload.object.photos.first.url.versions.small }}" alt="{% print payload.object.name %}">
    </div>
  {% elsif payload.target.photos.size > 0 %}
    <div class="mt-2">
      <img class="object-cover rounded-lg w-9" src="{{ payload.target.photos.first.url.versions.small }}" alt="{% print payload.target.name %}">
    </div>
  {% endif %}
</div>
