{% print payload.type | t: actor: payload.actor.username,
     object_id: payload.object.id,
     name: payload.object.properties.name,
     scope: 'app.activities.types'  %}

<div class="w-full p-4">
  <img class="text-center m-auto" alt="{{payload.object.properties.name}}" src="{{payload.object.properties.cover_photo_url}}" />
</div>
