.button, .button[href] {
  @apply inline-flex items-center justify-center px-5 py-2 text-center text-white bg-blue-700 border-2 border-transparent rounded;
}

.button.button-sm {
	@apply border;
}

.button:focus {
  @apply outline-none;
}

.button:hover, .button[href]:hover {
  @apply text-white bg-blue-600;
}

.button.button-secondary {
  @apply text-blue-700 bg-white border-2 border-blue-700;
}

.button.button-secondary:hover  {
  @apply text-blue-700 bg-blue-100 border-blue-700;
}

.button-secondary.button-sm {
  @apply border;
}

.button-sm {
  @apply px-3 py-1 text-sm;
}

.button.button-warning {
	@apply text-white bg-red-700;
}

.button.button-warning:hover {
	@apply text-white bg-red-600;
}