<section class="px-4 py-8">
  <div class="flex flex-wrap -mx-4">
    <div class="w-full px-4 mb-4 lg:w-1/4 lg:mb-0">
      <div class="h-full border rounded shadow">
        <div class="flex items-center justify-between px-4 py-3 border-b">
          <h3 class="text-lg">Income</h3>
          <span class="px-3 py-1 text-sm text-white bg-green-500 rounded-full">Monthly</span>
        </div>
        <div class="flex flex-col p-4">
          <h3 class="mb-3 text-2xl">108,200</h3>
          <span>Total income</span><span class="text-green-500">82%</span>
        </div>
      </div>
    </div>
    <div class="w-full px-4 mb-4 lg:w-1/4 lg:mb-0">
      <div class="h-full border rounded shadow">
        <div class="flex items-center justify-between px-4 py-3 border-b">
          <h3 class="text-lg">Orders</h3>
          <span class="px-3 py-1 text-sm text-white bg-green-500 rounded-full">Monthly</span>
        </div>
        <div class="flex flex-col p-4">
          <h3 class="mb-3 text-2xl">128,430</h3>
          <span>New orders</span><span class="text-green-500">32%</span>
        </div>
      </div>
    </div>
    <div class="w-full px-4 mb-4 lg:w-1/4 lg:mb-0">
      <div class="h-full border rounded shadow">
        <div class="flex items-center justify-between px-4 py-3 border-b">
          <h3 class="text-lg">Visits</h3>
          <span class="px-3 py-1 text-sm text-white bg-green-500 rounded-full">Monthly</span>
        </div>
        <div class="flex flex-col p-4">
          <h3 class="mb-3 text-2xl">81,248</h3>
          <span>New visits</span><span class="text-green-500">24%</span>
        </div>
      </div>
    </div>
    <div class="w-full px-4 mb-4 lg:w-1/4 lg:mb-0">
      <div class="h-full border rounded shadow">
        <div class="flex items-center justify-between px-4 py-3 border-b">
          <h3 class="text-lg">Conversions</h3>
          <span class="px-3 py-1 text-sm text-white bg-red-500 rounded-full">Today</span>
        </div>
        <div class="flex flex-col p-4">
          <h3 class="mb-3 text-2xl">7%</h3>
          <span>Purchased more than once</span><span class="text-red-500">82%</span>
        </div>
      </div>
    </div>
  </div>
</section>
