<section class="py-8 px-4">
  <div class="flex flex-wrap -mx-4">
    <div class="w-full lg:w-1/4 px-4 mb-6 lg:mb-0">
      <div class="h-full">
        <div class="flex justify-between items-end mb-2">
          <h3 class="text-lg font-semibold">Projects</h3>
          <span class="text-5xl leading-none text-blue-700">2</span>
        </div>
        <div class="w-full h-4 bg-gray-300 rounded">
          <div class="h-full bg-blue-500" style="width: 62%;"></div>
        </div>
      </div>
    </div>
    <div class="w-full lg:w-1/4 px-4 mb-6 lg:mb-0">
      <div class="h-full">
        <div class="flex justify-between items-end mb-2">
          <h3 class="text-lg font-semibold">Clients</h3>
          <span class="text-5xl leading-none text-red-500">117</span>
        </div>
        <div class="w-full h-4 bg-gray-300 rounded">
          <div class="h-full bg-red-500" style="width: 62%;"></div>
        </div>
      </div>
    </div>
    <div class="w-full lg:w-1/4 px-4 mb-6 lg:mb-0">
      <div class="h-full">
        <div class="flex justify-between items-end mb-2">
          <h3 class="text-lg font-semibold">Invoices</h3>
          <span class="text-5xl leading-none text-purple-500">12</span>
        </div>
        <div class="w-full h-4 bg-gray-300 rounded">
          <div class="h-full bg-purple-500" style="width: 62%;"></div>
        </div>
      </div>
    </div>
    <div class="w-full lg:w-1/4 px-4 mb-6 lg:mb-0">
      <div class="h-full">
        <div class="flex justify-between items-end mb-2">
          <h3 class="text-lg font-semibold">Appointments</h3>
          <span class="text-5xl leading-none text-green-500">14</span>
        </div>
        <div class="w-full h-4 bg-gray-300 rounded">
          <div class="h-full bg-green-500" style="width: 62%;"></div>
        </div>
      </div>
    </div>
  </div>
</section>
