<div class="w-full">
  <div class="flex border-b">
    <div class="flex-1 text-xl">
      {% print 'app.users.attr.id' | t %}
    </div>
    <div class="flex-1 text-xl ">
      {% print 'app.users.attr.email' | t %}
    </div>
    <div class="flex-1 text-xl ">
      {% print 'app.users.attr.created_at' | t %}
    </div>
  </div>

  <div class="">
  {% for record in list.results %}
    <div class="flex p-2">
      <div class="flex-1 ">
        {% print record.id %}
      </div>
      <div class="flex-1 ">
        {% print record.email %}
      </div>
      <div class="flex-1 ">
        {% print record.created_at | l %}
      </div>
    </div>
  {% endfor %}

</div>
