<div class="w-full bg-gray-200 p-3">

  <form action="" class="flex w-full flex-rows justify-between">
    <div class="flex flex-cols p-2 items-center">
      <span class="mr-2">public</span>
      <input name="public" type="checkbox" {% if context.params.public %}checked{% endif %}/>
    </div>
    <select name="feed" class="w-5/6 form-input text-xl">
      <option value="">audit all events</option>
      {% for user in users.results %}
        {% assign feed = "user." | append: user.id %}
        <option value="{{feed}}" {% if params.feed == feed %}selected{% endif %}>user: {{user.username}} (id:{{ user.id }})</option>
      {% endfor %}
    </select>
    <input type="submit" class="w-1/6 form-input" value="GO">
  </form>

  <span class="text-xs ml-2">
    following: {{ selected.followed_users | map: 'email' | join: ', ' }}
  </span>

  <div class="grid grid-cols-1 gap-6 my-6">
    {% for record in list.results %}
      {% render 'theme/simple/activities/feed_unit', payload: record.payload, current_user: current_user %}
    {% endfor %}
  </div>


</div>

{% include 'theme/simple/items/follow.js' %}
