<form action="/users" method="post">
  {% include 'authenticity_token' %}

  <label class="block mt-3" for="email">
    <span class="block">E-mail</span>
    <input name="user[email]" type="email" id="email" value="{{ object.email }}" class="w-full form-input" autofocus />
    {% if object.errors.email %}
      <span class="text-red-800">{{ object.errors.email }}</span>
    {% endif %}
  </label>

  <label class="block mt-3" for="password">
    <span class="block">Password</span>
    <input name="user[password]" type="password" id="password" value="{{ object.password }}" class="w-full form-input" />
    {% if object.errors.password %}
      <span class="text-red-800">{{ object.errors.password }}</span>
    {% endif %}
  </label>

  <button class="mt-3 button">Sign Up</button>
</form>
