<form action="/u/{{ user.id }}" name="search">
  {% include 'theme/simple/home/search_form', query: search.query, filters: filters %}
  {% if current_profile.id == user.id %}
  <p>{{ 'app.items.self-list' | t }}</p>
  {% else %}
  <p>{{ 'app.items.user-list' | t: name: user.name, id: user.id }}</p>
  {% endif %}
  {% include 'theme/simple/items/index', items: items, items.owner.id %}
</form>
