<div class="flex items-center justify-around py-20">
  <h1 class="text-2xl font-medium">
    {{ 'app.models.comments.empty_state' | t }}
  </h1>

  <a href="/comments/new" class="text-lg button">
    {{ 'app.models.comments.add' | t }}
  </a>
</div>
