<div class="flex items-center justify-around py-20">
  <h2 class="bigtitle">
    {{ 'app.models.comments.empty_state' | t }}
  </h2>

  <a href="/comments/new" class="text-lg button">
    {{ 'app.models.comments.add' | t }}
  </a>
</div>
