<h1 class="mb-6 text-2xl">
  <a href="/dashboard">{{ 'app.dashboard' | t }}</a>
  / {{ 'app.' | append: role | t }}
  / {{ 'app.orders.list' | t }}

  {% if size > 0 -%}({{ orders.total_entries  }}){%- endif %}
</h1>
