<div class="py-4 mb-5 bg-white shadow-sm lg:w-1/5 md:w-1/3 md:mb-0" data-dashboard-sidebar>
  <nav>
    <div class="mb-5">
      <span class="flex items-center pl-6 mb-1">
        <svg class="w-6 h-6 text-gray-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" /> </svg>
        <span class="ml-4 font-medium">{{ 'app.p-dashboard.profile' | t }}</span>
      </span>

      {% assign profile_path = "/profile/" | append: profile.slug %}
      {% include 'theme/simple/dashboard/sidebar_link', href: profile_path, label: 'app.p-dashboard.your-profile' %}
      {% include 'theme/simple/dashboard/sidebar_link', href: "/dashboard/profile/edit", label: 'app.p-dashboard.edit-profile' %}
    </div>

    <div class="mb-5">
      <span class="flex items-center pl-6 mb-1">
        <svg class="w-6 h-6 text-gray-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 10h.01M12 10h.01M16 10h.01M9 16H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-5l-5 5v-5z" /> </svg>
        <span class="ml-4 font-medium">{{ 'app.p-dashboard.chat' | t }}</span>
      </span>

      {% include 'theme/simple/dashboard/sidebar_link', href: "/dashboard/inbox", label: 'app.p-dashboard.inbox' %}
    </div>

    <div>
      <span class="flex items-center pl-6 mb-1">
        <svg class="w-6 h-6 text-gray-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="p-3"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z" /> </svg>

        <span class="mx-4 font-medium">{{ 'app.p-dashboard.community' | t }}</span>
      </span>

      {% include 'theme/simple/dashboard/sidebar_link', href: "/dashboard", label: 'app.p-dashboard.your-feed' %}
      {% include 'theme/simple/dashboard/sidebar_link', href: "/dashboard/groups", label: 'app.p-dashboard.my-groups' %}
      {% include 'theme/simple/dashboard/sidebar_link', href: "/dashboard/posts", label: 'app.p-dashboard.posts' %}
    </div>
  </nav>
</div>
