<div class="row">
  <div class="eight columns">
    {% include 'presentation/simple/items/list', items: items, query: query %}
  </div>
  <div class="four columns">
    <h4>new product</h4>
    {% include 'presentation/simple/items/form', item: item %}
    <h4>event logs</h4>
  </div>
</div>
