<div class="grid grid-cols-1 gap-6 my-6">
  {% for record in activities.results %}
    {% render 'theme/simple/activities/feed_unit', payload: record.payload, current_user: current_user %}
  {% endfor %}
</div>
