<div class="flex flex-col mb-5">
  {% liquid
    assign img_url = user.avatar.photo.versions.small
    unless img_url
      assign img_url = 'images/user.svg' | asset_url
    endunless
  %}

  <img src="{{ img_url }}" alt="Picture of {{ user.name }}" class="object-cover object-center w-32 h-32 mx-auto text-gray-400 rounded-full shadow-md md:mx-0">
</div>
