<div class="container flex flex-wrap items-center mx-auto mb-10">
  <h1 class="text-2xl">
    Profile Edit
  </h1>
</div>
<div class="sm:flex">
  <div class="sm:flex-grow sm:pl-16 sm:order-2">
    <form action="/profile" method="post">
      {% include 'authenticity_token' %}
      <input type="hidden" name="_method" value="put" />
      <div class="mb-6" id="field-firstName">
        <label class="block text-black cursor-pointer mb-2" for="first-name">First Name </label>
        <input id="first-name" name="user[first_name]" value="{{ object.first_name }}" type="text" maxlength="45" aria-invalid="false" aria-describedby="character-counter-firstName" class="form-input w-full disabled:opacity-50" data-label="First Name" autocomplete="given-name">
        {% include 'theme/simple/field_error', errors: object.errors.first_name %}
      </div>
      <div class="mb-6" id="field-lastName">
        <label class="block text-black cursor-pointer mb-2" for="last-name">Last Name </label>
        <input id="last-name" name="user[last_name]" value="{{ object.last_name }}" type="text" maxlength="45" aria-invalid="false" aria-describedby="character-counter-lastName" class="form-input w-full disabled:opacity-50" data-label="Last Name" autocomplete="family-name">
        {% include 'theme/simple/field_error', errors: object.errors.last_name %}
      </div>

      <div class="flex mt-4">
        <a class="button button-sm button-secondary mr-5" href="/profile">Back</a>
        <button type="submit" class="text-sm button">Save</button>
      </div>
    </form>
  </div>
  <div class="sm:order-1 sm:flex">
    <div class="flex flex-col w-full text-center mb-6">
      <span class="block mb-2 text-black">Profile photo</span>
      <div class="w-64">
        {% include 'theme/simple/items/uppy_area' %}
      </div>
    </div>
  </div>
</div>

{% include 'theme/simple/profile/uppy_form', presigned_url: presigned_url %}
