<section class="text-gray-700 body-font">
  <div class="container md:px-5 md:py-5 mx-auto">
    <div class="flex flex-wrap -m-4">
      {% liquid
        assign groups = list
        for group in groups.results
          include 'theme/simple/groups/card', group: group
        endfor
      %}
    </div>
  </div>
</section>
