<div class="container flex flex-wrap items-center mx-auto mb-10">
  <h1 class="text-2xl">
    Profile Settings
  </h1>
</div>
<div class="lg:flex-grow lg:min-w-0">
  <div class="max-w-xl">
    <div class="justify-between mb-6 md:flex">
      <div class="flex-none mb-4 md:mb-0">
        <img src="https://img.icons8.com/cotton/2x/person-male.png"
          alt="" class="w-40 h-40 mx-auto rounded-full shadow md:mx-0">
      </div>
      <div class="flex-grow min-w-0 md:ml-8">
        <div class="flex justify-between">
          <h3 class="min-w-0 mr-6">
            <span class="text-2xl font-semibold break-words">
              {{user.first_name}}
            </span>
            <span class="block text-sm uppercase">
              {{user.last_name}}
            </span>
          </h3>
        </div>
      </div>
    </div>
    <section class="mb-4">
      <header class="mb-2 md:flex md:justify-between">
        <h4 class="text-lg font-semibold md:mr-6">
          Account
        </h4>
        <div class="md:ml-auto">
          <a href="/profile/edit" class="link">
            Edit <span class="sr-only">name and avatar</span>
          </a>
        </div>

        <!-- <div class="md:ml-auto"> -->
        <!-- <a class="link" href="/profile/password"> -->
        <!-- Change password -->
        <!-- </a> -->
        <!-- </div> -->
      </header>
      <p>Email: <b>{{user.email}}</b></p>
      <p>Password: <b class="font-mono">******</b></p>
    </section>
    <!-- <p class="pt-4 border-t"> -->
    <!-- <a href="/user/{{user.slug}}" class="link"> -->
    <!-- How other people see my profile -->
    <!-- </a> -->
    <!-- </p> -->
  </div>
</div>
