<div class="flex flex-wrap -mx-4 -mb-4 md:mb-0">
  <div class="w-full md:w-1/4 px-4 mb-4 md:mb-0">
    {% liquid
      include 'theme/simple/profile/card', user: user
      if user != blank and user.id == current_user.id
        include 'theme/simple/profile/profile_actions_owner', user: user
      elsif current_user != blank
        render 'theme/simple/follow_button', current_user: current_user, user: user
      endif
    %}
  </div>
  <div class="w-full md:w-3/4 px-4 mb-4 md:mb-0">
    {% render 'theme/simple/profile/nav', tab: tab, user: user %}

    {% liquid
      if tab == blank
        if user != blank and user.id == current_user.id
          render 'theme/simple/profile/activity_new'
        endif
        render 'theme/simple/profile/activity', activities: activities
      else
        assign file = 'theme/simple/profile/' | append: tab
        include file
      endif
    %}
  </div>
</div>

{% include 'theme/simple/items/follow.js' %}
