<div class="flex flex-wrap -mx-4 -mb-4 md:mb-0">
  <div class="w-full md:w-1/4 px-4 mb-4 md:mb-0">
    {% liquid
      include 'theme/simple/profile/card', user: user, current_user: current_user

      if user != blank and user.id == current_user.id
        include 'theme/simple/profile/owner_actions', user: user
      elsif current_user != blank
        render 'theme/simple/follow_button', current_user: current_user, user: user, big: true
      endif
    %}
  </div>
  <div class="w-full md:w-3/4 px-4 mb-4 md:mb-0">
    {% liquid
      render 'theme/simple/profile/nav', tab: section, user: user

      assign file = 'theme/simple/profile/sections/' | append: section
      include file, list: list, user: user
    %}
  </div>
</div>

{% include 'theme/simple/items/follow.js' %}
