<div class="flex flex-col md:flex-row ">
  <div class="mr-5 mb-5 text-center">
	{% liquid
		render 'theme/simple/profile/card', user: user, current_profile: current_profile

		if user != blank and user.id == current_profile.id
			render 'theme/simple/profile/owner_actions', user: user
		elsif current_profile != blank
			render 'theme/simple/follow_button', current_profile: current_profile, user: user, big: true
		endif
	
		if current_profile.id != user.id and chat_enabled != blank
			render "modules/chat/message_button", current_profile: current_profile, user: user, conversation: conversation
		endif	
	%}
  </div>

  <div class="w-full md:flex-1">
    {% liquid
      render 'theme/simple/profile/nav', tab: section, user: user, path: 'profile'

      if section == 'activity'
        render 'theme/simple/profile/sections/activity', list: list, current_profile: current_profile
      elsif section == 'groups'
        render 'theme/simple/profile/sections/groups', list: list, current_profile: current_profile
      elsif section == 'following'
        render 'theme/simple/profile/sections/following', list: list, current_profile: current_profile
      elsif section == 'followers'
        render 'theme/simple/profile/sections/followers', list: list, current_profile: current_profile
      elsif section == 'products'
        render 'theme/simple/profile/sections/products', list: list, current_profile: current_profile
      endif
    %}
  </div>
</div>

