<div class="p-4 md:w-1/3">
  <div class="h-full border-2 border-gray-200 rounded-lg overflow-hidden pt-5">
    {% liquid
      assign img_url = user.avatar.photo.versions.small
      unless img_url
        assign img_url = 'images/user.svg' | asset_url
      endunless
    %}
    <img class="md:h-48 md:w-48 h-24 w-24 object-cover object-center rounded-full shadow-md mx-auto" src="{{ img_url }}" alt="blog">
    <div class="p-6">
      <h2 class="text-gray-900 title-font font-medium mb-1">
        <a href="/profile/{{user.slug}}">
          {{ user.first_name | append: user.last_name | default: user.username }}
        </a>
      </h2>
      <h1 class="title-font text-lg font-medium text-gray-900 mb-3">{{ group.name }}</h1>
      <div class="flex items-center flex-wrap ">
        {% render 'theme/simple/follow_button', current_user: current_user, user: user %}
        <span class="text-gray-600 mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm pr-3 py-1" title="Following">
          <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24"> <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path> <circle cx="12" cy="12" r="3"></circle> </svg>
          1.2K
        </span>
      </div>
    </div>
  </div>
</div>
