<div class="container flex flex-wrap items-center mx-auto">
  <h2 class="bigtitle">{{ 'app.models.categories.edit' | t }} {{ object.name  }}</h2>
</div>

{% include 'theme/simple/categories/form', object: object %}
