<div class="flex items-center justify-around py-20">
  <h2 class="title">
    {{ 'app.models.categories.empty_state' | t }}
  </h2>

  <a href="/categories/new" class="text-lg button">
    {{ 'app.models.categories.add' | t }}
  </a>
</div>
