<h1 class="mb-6 text-3xl font-medium">
  <a href="/dashboard">{{ 'app.dashboard' | t }}</a>
  / {{ 'app.' | append: role | t }}
  / {{ 'app.items' | t }}
</h1>

{% include 'theme/simple/items/index', items: items %}
