<div class="card">
  <h5> {% print item.properties.name %} </h5>
  <a href="/items/show?id={% print item.id %}">
    <img alt="cover" src="{% echo 'images/icons/' | append: item.properties.cover_photo | append: '.svg' | asset_url %}" width="200px"/>
  </a>
  <br/>
  <small> {{ item.properties.description | split: ' ' | limit: 20 | join: ' ' | append: '...' }} </small>
  <br/>
  <small>
    {% for tag in item.properties.tags %}
      <a href="?query[tag]={%- print tag %}">{% print tag %}</a>
    {% endfor %}
  </small>
  <form action="app/items/buy" method="post">
    <input type="hidden" name="id" value="{% print item.id %}">
    <input type="submit" value="buy">
  </form>
</div>
