<style>
.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    max-height: 100vh;
  }

  .cards .card img {
    width: 100%;
    border: 1px solid #eee;
    box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3);
  }

  .cards .card {
    border: 1px solid #eee;
    padding: 10px;
    margin: 10px;
    max-width: 30%;
    width: 30%;
  }
</style>

<div class="cards">

  {% for item in items.results %}
    {% include 'presentation/simple/items/card', item: item %}
  {% endfor %}
</div>
