{% liquid
  if order.id
    assign path = 'update'
  else
    assign path = 'create'
  endif
%}

<div class="row">
  {{ order.errors }}
  <h5>order details</h5>
  <table class="u-full-width">
    <tr>
      <th class="">name</th>
      <th class="">price</th>
      <th class="">quantity</th>
      <th class="">total</th>
    </tr>
    <tr>
      <td class="">{% print item.properties.name  %}</td>
      <td class="">{% echo item.properties.price | pricify %}</td>
      <td class="">1</td>
      <td class="">{% echo order.properties.total | pricify %}</td>
    </tr>
  </table>

  <form action="/orders/{% print path %}" method="post">
    {% include 'authenticity_token' %}

    <input type="hidden" name="item_id" value="{% print item.id %}"/>

    <input name="" type="submit" value="checkout" class="button-primary"/>
  </form>
</div>
