<div class="p-4 mb-4 bg-gray-200 border rounded" data-test="information">
  <p>
    Your order has been paid.
  </p>
</div>

<a class="button" href="/dashboard/buy/orders">
  {{ 'app.continue' | t }}
</a>
