<form action="/sessions/create" method="post">
  {% include 'authenticity_token' %}
  <div class="row">
    <div class="u-full-width">
      <input placeholder="email" name="email" type="text" value=""/>
    </div>
    <div class="u-full-width">
      <input placeholder="password" name="password" type="password" value=""/>
    </div>
    <div class="u-full-width">
      <input name="login" type="submit" value="log in"/>
    </div>
  </div>
</form>
