{% if order.status.fullname == 'app.statuses.orders.placed' %}
  {% render 'theme/simple/statuses/quick_form',
    authenticity_token: context.authenticity_token,
    name: 'paid',
    scope: 'app.statuses.orders',
    object_id: order.id,
    return_to: context.location.href,
    label: 'app.pay' %}

  <a href="/orders/review?order_id={{order.id}}" class="button button-sm mt-2">
    {{ 'app.pay_online' | t }}
  </a>

  {% render 'theme/simple/statuses/quick_form',
    authenticity_token: context.authenticity_token,
    name: 'cancelled',
    scope: 'app.statuses.orders',
    object_id: order.id,
    return_to: context.location.href,
    label: 'app.cancel', secondary: true %}
{% endif %}
