<div class="row">
  <div class="u-full-width">
    {% include 'presentation/simple/home/search', filters: filters %}
  </div>
</div>

<div class="row">
  <div class="u-full-width">
    {% include 'presentation/simple/items/index', items: items %}
  </div>
</div>
