<div class="row">
  <form action="/s">
    <div class="ten columns">
    <input class="u-full-width" name="k" type="text" value="{% echo query.keyword %}{% if query.tag %} tag:{%  print query.tag %}{% endif %}" placeholder="search..."/>
    </div>
    <div class="two columns">
    <input class="u-full-width" name="submit" type="submit" value="search"/>
    </div>
  </form>
</div>
