<div class="relative h-64 flex flex-column items-end text-white bg-gray-900 mb-16">
  <img src="{{ 'images/home-hero.jpg' | asset_url }}" alt="" aria-hidden="true" class="absolute inset-0 w-full h-full object-cover">

  <div class="relative z-10 p-8 md:p-16 bg-gradient-transparent-black w-full">
    <h1 class="text-2xl md:text-5xl font-black uppercase leading-none">Find Your Product</h1>
    <p class="font-bold mb-2 md:mb-3">MVP Marketplace is a social marketplace to buy and sell all things</p>

    <p>
      <a href="/search" class="button mr-3">Shop</a>
      <a href="/items/new" class="button button-secondary btn-lg">Sell</a>
    </p>
  </div>
</div>
