{% render 'theme/simple/home/hero' %}

{% for feed in feeds %}
  {% if feed[1].results.size > 0 %}
    <section class="mt-8">
      <h2 class="mb-3 text-3xl">
        {{ feed[0] | t: scope: 'app.home.feeds' }}
      </h2>
      <div class="grid gap-5 md:grid-cols-2 lg:grid-cols-3">
        {% for item in feed[1].results %}
          {% if item.type == 'category' %}
            {% render 'theme/simple/home/category', object: item %}
          {% else %}
            {% render 'theme/simple/home/card', actor: item.payload.actor, target: item.payload.target, object: item.payload.object, type: item.payload.type %}
          {% endif %}
        {% endfor %}
      </div>
    </section>
  {% endif %}
{% endfor %}