<div class="row">
  <div class="u-full-width">
    {% include 'theme/simple/home/search', query: search.query %}
  </div>
</div>
<div class="row">
  <div class="u-full-width">
    {% include 'theme/simple/items/index', items: items %}
  </div>
</div>
