  <div class="mr-5">
    <input class="form-input mr-2"
      name="search-k"
      id="search-k"
      type="text"
      value="{{ filters.query.k }}"
     />
     <button name="submit" value="search" class="button button-secondary button-sm">{{ 'app.search.search' | t  }}</button>
  </div>
