<form action="/s" class="flex mx-4 my-6">
  <div class="flex-1 w-auto">
    <label for="k" class="block mb-1 text-gray-600 capitalize">Keywords</label>
    <input class="w-full form-input"
      name="k"
      type="text"
      value="{{ query.k }}"
      placeholder="Search" />
  </div>

  <div class="w-auto mx-6">
    <label for="tag" class="block mb-1 text-gray-600 capitalize">Category</label>
    <select class="form-select" name="tag">
      <option value="" class="text-gray-600">All categories</option>
      {% for tag in filters.tags %}
        <option value="{{ tag }}" {% if query.tag == tag %}selected{% endif %}>{{ tag }}</option>
      {% endfor %}
    </select>
  </div>

  <button name="submit" value="search" class="mt-auto text-center button">Search</button>
</form>
