<style>
  input[name="k"] {
    font-size: 1.5em;
    padding: 25px;
    color: #333;
  }
</style>
<div class="row">
  <form action="/s">
    <div class="twelve columns">
      <input class="u-full-width" name="k" type="text" value="{% echo query.k %}{% if query.tag %} tag:{%  print query.tag %}{% endif %}" placeholder="search..."/>
    </div>
  </form>
</div>
