<form action="/s" class="flex flex-wrap my-6">
  <div class="w-full md:flex-1 md:w-auto">
    <label for="k" class="block mb-1 text-gray-600 capitalize">Keywords</label>
    <input class="w-full form-input"
      name="k"
      id="k"
      type="text"
      value="{{ query.k }}"
      placeholder="Search" />
  </div>

  <div class="w-full my-6 md:my-0 md:mx-6 md:w-auto">
    <label for="tag" class="block mb-1 text-gray-600 capitalize">Tags</label>
    <select class="w-full form-select" id="tag" name="tag">
      <option value="" class="text-gray-600">All tags</option>
      {% for tag in filters.tags %}
        <option value="{{ tag }}" {% if query.tag == tag %}selected{% endif %}>{{ tag }}</option>
      {% endfor %}
    </select>
  </div>

  <button name="submit" value="search" class="w-full md:mt-auto md:w-auto button">Search</button>
</form>
