<form action="/s">
  <input class="form-input my-4 block w-full"
    name="k"
    type="text"
    value="{% echo query.k %}{% if query.tag %} tag:{%  print query.tag %}{% endif %}"
    placeholder="Search"/>
</form>