<div class="flex flex-wrap my-2">
  <div class="w-full md:flex-1 md:w-auto">
  </div>

  <div class="w-full my-2 md:my-0 md:w-auto">
    <select class="w-full form-select" id="sort" name="sort">
      <option value="" class="text-gray-600"> --sort-- </option>
      {% for s in filters.sort_options %}
        <option value="{{ s[0] }}" {% if query.sort == s[0] %}selected{% endif %}>{{ s[1] }}</option>
      {% endfor %}
    </select>
  </div>
</div>
