<div class="row">
  <div class="u-full-width">
    <h2>new product form</h2>
  </div>
</div>
<div class="row">
  <div class="u-full-width">
    {% include 'presentation/simple/items/form', item: item %}
  </div>
</div>
