<div class="row">
  <div class="u-full-width">
    <h2>{% print item.properties.name %}</h2>
  </div>
</div>

<div class="row">
  <div class="four columns">
    <img alt="cover" src="{% echo 'images/icons/' | append: item.properties.cover_photo | append: '.svg' | asset_url %}" width="100%"/>
  </div>

  <div class="eight columns">
    <h5>description</h5>
    <div>{% print item.properties.description %}</div>
    <h5>tags</h5>
    <ul>
      {% for tag in item.properties.tags %}
        <li>{% print tag %}</li>
      {% endfor %}
    </ul>
    <form action="app/items/buy" method="post">
      <input type="hidden" name="id" value="{% print item.id %}">
      <input type="submit" value="buy for $100" class="button-primary">
    </form>
  </div>
</div>
