<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'theme/simple/layout/head' %}
    {% yield 'item_metatags' %}
    {% yield 'custom_styles' %}
  </head>

  <body class="font-sans antialiased leading-normal text-gray-700 bg-gray-100">
    {% include 'theme/simple/layout/main', current_user_id: context.current_user.id %}
    {% yield 'custom_scripts' %}
  </body>
</html>
