<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'layout/head' %}

    <link href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" rel="stylesheet">
  </head>

  <body class="antialiased font-sans leading-relaxed">
    {% include 'theme/simple/layout/main', current_user_id: context.session.current_user_id %}
  </body>
</html>
