<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'layout/head' %}
  </head>

  <body class="antialiased font-sans leading-relaxed">
    {% include 'theme/simple/layout/main', current_user_id: context.session.current_user_id %}
  </body>
</html>
