<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{{ 'css/app.css' | asset_url }}">
  </head>

  <body class="font-sans antialiased leading-normal text-gray-700 bg-gray-100">
    <div class="container flex flex-col min-h-screen">
      <main class="flex-1">
        {{content_for_layout}}
      </main>
    </div>
  </body>
</html>
